* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: arial, sans-serif;
}
.text-primary {
  color: #50bedd;
}
.lead {
  font-size: 20px;
}
.btn-primary {
  background-color: #50bedd;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 14px 25px;
  margin-top: 10px;
  border-radius: 5px;
}
.btn-primary:hover {
  box-shadow: 0 0 10px white;
  cursor: pointer;
}
/* main navbar */
.main-nav {
  background: linear-gradient(45deg, black, darkslategray);
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main-nav h1 {
  display: flex;
}
.main-nav img {
  height: 30px;
  width: 40px;
  display: flex;
}
.main-nav ul {
  display: flex;
  list-style-type: none;
}
.main-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
}
.main-nav ul li a:hover {
  color: #50bedd;
}

/* landing area */
.container {
  background: white url("image/b1.jpg") no-repeat scroll center;
  height: 100vh;
  background-size: cover;
  color: white;
}
.container-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.container-wrapper h1 {
  font-size: 50px;
}

/* media queries */
@media (max-width: 768px) {
  .main-nav {
    flex-direction: column;
  }
  .main-nav ul {
    margin-top: 10px;
  }
}
